version: "1.0"
services:
  planning-service:
    image: jeffstampe/planningservice:latest
    ports:
      - 5083:8080
    networks:
      - default
    environment:
      RabbitMQHost: rabbitmq

networks:
  default:
    driver: bridge
    name: "mitnet"
  loki:
